[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
numpy = "*"
opencv-python = "*"
setuptools = "*"
cython = "*"
contextlib2 = "*"
pillow = "*"
lxml = "*"
tensorflow = "*"

[requires]
python_version = "3.6"
